[submodule "themes/hugo-theme-nix"]
	path = themes/hugo-theme-nix
	url = https://github.com/LordMathis/hugo-theme-nix.git
[submodule "public"]
	path = public
	url = git@github.com:nztakahe/nztakahe.github.io.git
